<!DOCTYPE html>
<html>
<head>
    <title>Electricity Forecast Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Home</a> |
        <a href="{{ url_for('main.region_view', region='kigoma') }}">Kigoma</a> |
        <a href="{{ url_for('main.region_view', region='katavi') }}">Katavi</a> |
        <a href="{{ url_for('main.region_view', region='rukwa') }}">Rukwa</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
